* {
  font-family: "Avenir Next Cyr Heavy", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      180deg,
      rgba(155, 217, 242, 0) 41.16%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    linear-gradient(
      237.67deg,
      rgba(155, 217, 242, 0) 30.62%,
      rgba(255, 215, 138, 0.33) 100%
    ),
    linear-gradient(
      121.92deg,
      rgba(155, 217, 242, 0) 31.4%,
      rgba(255, 215, 138, 0.33) 100%
    ),
    linear-gradient(
      115.18deg,
      rgba(186, 168, 230, 0.5) -35.29%,
      rgba(186, 168, 230, 0) 57.9%
    ),
    linear-gradient(
      245.41deg,
      rgba(186, 168, 230, 0.55) -12.18%,
      rgba(155, 217, 242, 0) 56.8%
    ),
    linear-gradient(0deg, rgba(226, 216, 250, 0.12), rgba(226, 216, 250, 0.12)),
    linear-gradient(0deg, #bcd4f2, #bcd4f2);
  display: flex;
  justify-content: center;
}

.message {
  background-color: white;
  border-radius: 25px;
  width: 60%;
  max-width: 400px;
  padding: 25px 50px;
  text-align: center;
  height: fit-content;
  margin-top: 200px;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.logo > img {
  height: 40px;
  margin-right: 10px;
  position: relative;
  width: 40px;
}

.logo > p {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

a {
  color: inherit;
}
